---
import { Icon } from "astro-icon/components";
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <title>Astro</title>
    <style>
      li {
        @apply flex items-center gap-1;
      }

      button {
        @apply bg-black text-white px-2 py-1;
      }
    </style>
  </head>
  <body>
    <section id="list-wrapper" class="p-5">
      <button class="sort" data-sort="id"> Sort</button>
      <button class="filter">Filter</button>
      <ul class="list mt-5">
        <li data-id="1">
          <Icon class="text-red-500" name="mdi:account" /> Item 1
        </li>
        <li data-id="2">
          <Icon class="text-green-500" name="mdi:account" />
          Item 2
        </li>
        <li data-id="3">
          <Icon class="text-blue-500" name="mdi:account" />
          Item 3
        </li>
      </ul><section>
        <script>
          import List from "list.js";
          const idList = new List("list-wrapper", {
            valueNames: [{ data: ["id"] }],
          });

          const filterButton = document.querySelector(".filter");

          filterButton.addEventListener("click", () => {
            idList.filter(function (item) {
              if (item.values().id > 1) {
                return true;
              } else {
                return false;
              }
            }); //
          });
        </script>
      </section>
    </section>
  </body>
</html>
